<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- Bootstrap -->
		<link rel="stylesheet" href="quest/public/css/main.min.css" />
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>
		<!-- Mapbox API -->
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
		<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />
		<!-- Font Awesome -->
		<link rel="stylesheet" href="quest/public/css/all.min.css">
		<!-- Scripts -->
		<script src="quest/public/scripts/mobile-nav.js" defer></script>
		<script src="quest/public/scripts/map.js" defer></script>
		<script src="quest/public/scripts/quest.js" defer></script>
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="quest/public/favicon.ico" />
		<title>Adventure Quest | Quest</title>
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/records">
					<img src="quest/public/img/logo.png" height="30" class="d-inline-block align-top" alt="" loading="lazy" />	
				</a>
				<button
					class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul id="top-nav" class="navbar-nav w-100 justify-content-end">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= user.username %> 
								<i class="fas fa-user ml-2"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a href="/records" class="dropdown-item"><i class="fas fa-home mr-1"></i> Dashboard</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/messages"><i class="far fa-envelope mr-1"></i> Messages</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/users/logout"><i class="fas fa-sign-out-alt mr-1"></i> Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Navbar -->

		<!-- Fields -->
		<div class="container my-3">
			<ul id="page-nav" class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="/records">Patient Records</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/patient">New Patient</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">New Quest</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/info">Account Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/help">Help</a>
				</li>
			</ul>
			<form action="/quest" method="POST" class="shadow-lg border border-top-0 py-3 px-4">
				<%- include('./partials/errors.ejs') %>
				<div class="form-row mb-3">
					<label for="patientRecord"><strong>Patient Name *</strong></label>
					<select name="patientID" class="form-control" id="patientID" data-selected="<%= (typeof selectedPatient !== 'undefined') ? selectedPatient : '' %>">
						<% if (patients.length == 0) { %>
							<option value="<%= null %>">No patients assigned</option>
						<% } else { %>
							<% for(const patient of patients) { %>
								<option value="<%= patient.patientID %>"><%= `${patient.fName} ${patient.lName}` %></option>
							<% } %> 
						<% } %> 
					</select>
				</div>
				<div class="form-row mb-3">
					<div class="col-md col-12">
						<label for="questType"><strong>Quest Type *</strong></label>
						<select name="questType" class="form-control" id="questType" data-selected="<%= (typeof questType !== 'undefined') ? questType : '' %>">
							<option value="daily">Daily Quest</option>
							<option value="weekly">Weekly Quest</option>
							<option value="monthly">Monthly Quest</option>
							<option value="chain">Chain Quest</option>
						</select>
					</div>
					<div class="col-md col-12">
						<label for="questName"><strong>Quest Name *</strong></label>
						<input name="questName" id="questName" type="text" class="form-control" placeholder="Quest Name" value="<%= (typeof questName !== 'undefined') ? questName : '' %>"/>
					</div>
					<div class="col-md col-12">
						<label for="questDifficulty"><strong>Quest Difficulty *</strong></label>
						<select name='questDifficulty' class="form-control" id="questDifficulty" data-selected="<%= (typeof questDifficulty !== 'undefined') ? questDifficulty : '' %>">
							<option value="trivial">Trivial</option>
							<option value="easy">Easy</option>
							<option value="normal">Normal</option>
							<option value="hard">Hard</option>
							<option value="extreme">Extreme</option>
						</select>
					</div>
					<div class="col-md col-12">
						<label for="questItems"><strong>Additional Quest Items</strong></label>
						<input name="questItems" id="questItems" type="text" class="form-control" placeholder="Additional Quest Items" value="<%= (typeof questItems !== 'undefined') ? questItems : '' %>" />
					</div>
				</div>
				<div class="form-row mb-3">
					<label for="questObjectives"><strong>Quest Objectives *</strong></label>
					<textarea name="questObjectives" id="questObjectives" rows="7" class="form-control" placeholder="Quest Objectives..." data-selected="<%= (typeof questObjectives !== 'undefined') ? questObjectives : '' %>"></textarea>
				</div>
				<div class="form-row mb-3">
					<label for="questDescription"><strong>Quest Description *</strong></label>
					<textarea name="questDescription" id="questDescription" rows="7" class="form-control" placeholder="Quest Description..." data-selected="<%= (typeof questDescription !== 'undefined') ? questDescription : '' %>"></textarea>
				</div>
				<div class="form-row mb-3">
					<label><strong>Location *</strong><br><span class="text-sm">Move the marker to the desired quest location</span></label>
					<div class="p-5" id="map" style="width: 100%; height: 350px; border-radius: 10px;" data-longitude="<%= (typeof longitude !== 'undefined') ? longitude : '' %>" data-latitude="<%= (typeof latitude !== 'undefined') ? latitude : '' %>"></div>
					<input name="longitude" type="hidden" id="longitude">
					<input name="latitude" type="hidden" id="latitude">
				</div>
				<div class="form-row mb-3">
					<div class="col-md col-12">
						<label for="questReward"><strong>Quest Reward *</strong></label>
						<input name="questReward" id="questReward" type="text" class="form-control" placeholder="Quest Reward" value="<%= (typeof questReward !== 'undefined') ? questReward : '' %>" />
					</div>
					<div class="col-md col-12">
						<label for="questStatus"><strong>Quest Status *</strong></label>
						<select name="questStatus" class="form-control" id="questStatus" data-selected="<%= (typeof questStatus !== 'undefined') ? questStatus : '' %>">
							<option value="incomplete">Incomplete</option>
							<option value="complete">Complete</option>
						</select>
					</div>
				</div>
				<div class="form-row w-100 d-flex justify-content-end">
					<button id="submitBtn" type="submit" class="btn btn-success">Save Quest</button>
				</div>
			</form>
		</div>
		<!-- End Fields -->
	</body>
</html>
